<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./daftar_user.css" />
    <link rel="stylesheet" href="{css2}" />
    <link rel="stylesheet" href="{css3}" />
    <link rel="stylesheet" href="{css4}" />
    <link rel="stylesheet" href="{css5}" />
    <title>{title}</title>
  </head>
  <body></body>
</html>
<body>
  <div class="main-container">
    <div class="header-container">
      <div class="horizontal-line"></div>
      <div class="title-container">
        <h1>Daftar User</h1>
      </div>
      <div class="users">
        <div class="users-pagination">
          <span
            class="users-pagination-information"
            id="users-pagination-information"
          >
            Showing results <b>{start}-{stop}</b> of <b>{total}</b>
          </span>
        </div>
        <div class="table-header">
          <div>#</div>
          <div>User Id</div>
          <div>Username</div>
          <div>Email</div>
          <div>Role</div>
        </div>
        <hr />
        <table class="users-list" id="users-list"></table>
        <ol class="users-pagination-pages" id="users-pagination-pages">
          {pagination}
        </ol>
      </div>
    </div>
  </div>
</body>
<script src="./daftar_user.js"></script>
