<body>
  <div class="main-container">
    <div class="header-container">
      <div class="title-container">
        <h1>Daftar User</h1>
      </div>
      <div class="users">
        <div class="users-pagination">
          <span
            class="users-pagination-information"
            id="users-pagination-information"
          >
            Showing results <b>{start}-{stop}</b> of <b>{total}</b>
          </span>
        </div>
        <div class="table-header">
          <div>#</div>
          <div>User Id</div>
          <div>Username</div>
          <div>Email</div>
          <div>Role</div>
        </div>
        <hr />
        <table class="users-list" id="users-list"></table>
        <ol class="users-pagination-pages" id="users-pagination-pages">
          {pagination}
        </ol>
      </div>
    </div>
  </div>
</body>
<script src="./daftar_user.js"></script>
