<div class="container">
    <div class="song-card">
        <img src={image_path} alt={judul_lagu}> 
        
        <div class="desc">
            <h4 name="judul_lagu" > {judul_lagu} </h4>
            <h5 name="penyanyi"> {penyanyi} </h5>
            <h5 name="genre"> {genre} </h5>
            <p name="tanggal_terbit"> {tanggal_terbit} </p>
        </div>

        <audio controls>
            <source src="{audio_path}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>        
    </div>    
</div>
    
	
