<div class="container">
  <div class="song-card">
    <div class="section-1">
      <div class="image-album-container">
        <img src="{image_path}" alt="{judul_lagu}" />
      </div>
      <div class="desc">
        <p name="judul_lagu" class="judul_lagu">{judul_lagu}</p>
        <p name="penyanyi" class="penyanyi">{penyanyi}</p>
        <p name="genre" class="genre">{genre}</p>
        <p
          name="album"
          class="album"
          onclick="window.location='/detail_album.php?album_id={album}'"
        >
          {judul_album}
        </p>
        <p name="tanggal_terbit" class="tanggal">{tanggal_terbit}</p>
      </div>
    </div>
    <div class="section-2">
      <audio controls id="playmusic">
        <source src="{audio_path}" type="audio/mp3" />
        <source src="{audio_path}" type="audio/wav" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>

  <div class="admin-only" style="display: none">
    <div class="button-container">
      <button id="edit_button">Edit</button>
      <!-- The Modal -->
      <div class="modal" id="edit_modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Edit Song</h2>
          </div>

          <div class="modal-body">
            <form id="edit_form">
              <div class="input_container">
                <label for="title">Judul Lagu</label>
                <input type="text" id="title" value="{judul_lagu}" />
                <div class="error" id="error_title"></div>
              </div>

              <div class="input_container">
                <label for="genre">Genre</label>
                <input type="text" id="genre" value="{genre}" />
                <div class="error" id="error_genre"></div>
              </div>

              <div class="input_container">
                <label for="album">Album</label>
                <select name="album" id="album">
                  {option}
                </select>
              </div>

              <div class="input_container">
                <label for="tanggal">Tanggal Terbit</label>
                <input type="date" id="tanggal" value="{tanggal_terbit}" />
                <div class="error" id="error_tanggal"></div>
              </div>

              <div class="input_container">
                <label for="audio_path">Audio</label>
                <input type="file" id="audio_path" />
                <div class="error" id="error_audio_path"></div>
              </div>

              <div class="input_container">
                <label for="image_path">Song Image</label>
                <input type="file" id="image_path" />
                <div class="error" id="error_image_path"></div>
              </div>

              <button name="edit_lagu" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <button id="delete_button">Delete</button>
    </div>

    <div class="modal" id="delete_modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Delete Song</h2>
        </div>

        <div class="modal-body">
          <!-- <button name="delete_button" id="delete_button">Delete</button> -->
          <p>Yakin mo hapus?</p>
          <button id="yes_delete">Delete</button>
          <button id="no_delete">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
