<div class="wrapper">
	<h1>Newest Songs</h1>

  
  <table>
    <colgroup>
      <col span="1" style="width: 10%;">
      <col span="1" style="width: 45%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 15%;">
      <col span="1" style="width: 15%;">
   </colgroup>
    <tr>
      <th>#</th>
      <th class="title">Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Duration</th>
    </tr>
  </table>

  <div class="cards">
    {card_component}
  </div>
</div>
	
	

