<div class="tambah-lagu-container">
  <div class="title-container">Tambahkan Lagu!</div>
  <div class="form-container">
    <form id="edit_form" method="POST" action="">
      <div class="input_container">
        <label for="title">Judul Lagu</label>
        <input type="text" id="title" name="title" />
        <div class="error" id="error_title"></div>
      </div>
      <div class="input_container">
        <label for="penyanyi">Penyanyi</label>
        <input type="text" id="penyanyi" name="penyanyi" />
        <div class="error" id="error_penyanyi"></div>
      </div>

      <div class="input_container">
        <label for="genre">Genre</label>
        <input type="text" id="genre" name="genre" />
        <div class="error" id="error_genre"></div>
      </div>

      <div class="input_container">
        <label for="album">Album</label>
        <input type="text" id="album" name="album" />
        <div class="error" id="error_album"></div>
      </div>

      <div class="input_container">
        <label for="tanggal">Tanggal Terbit</label>
        <input type="date" id="tanggal" name="tanggal" />
        <div class="error" id="error_tanggal"></div>
      </div>

      <div class="input_container" id="input-container-audio">
        <label for="audio_path">Audio</label>
        <input type="file" id="audio_path" name="audio_path" />
        <div class="error" id="error_audio_path"></div>
      </div>

      <!-- <div class="input_container">
                <label for="audio_path">Audio</label>
                <input type="text" id="audio_path" name="audio_path"/>
                <div class="error" id="error_audio_path"></div>
            </div> -->

      <!-- <div class="input_container">
                <label for="duration">Durasi</label>
                <input type="text" id="duration" name="duration"/>
                <div class="error" id="error_duration"></div>
            </div> -->

      <!-- <div class="input_container">
                <label for="image_path">Song Image</label>
                <input type="text" id="image_path" name="image_path"/>
                <div class="error" id="error_image_path"></div>
            </div> -->
      <div class="input_container" id="input-container-image">
        <label for="image_path">Song Image</label>
        <input type="file" id="image_path" name="image_path" />
        <div class="error" id="error_image_path"></div>
      </div>

      <!-- <button name="add_song" type="submit" >Submit</button> -->
      <div class="submit-lagu-container">
        <input class="submit-lagu-button" name="add_song" type="submit" />
      </div>
    </form>
  </div>
</div>
