@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

.container {
    /* background-color: red; */
    align-items: center;
    background-color: rgb(25, 25, 25);
    height: 100%;
}

.song-card{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    transition: all 0.4s;
    cursor: pointer;
    align-items: center;
}

.song-card img{
    width: 25%;
    height: 25%;
    object-fit: cover;
    padding: 1rem;
    /* background-color: red; */
    border-radius: 3rem;
}

.desc{
    margin: 1rem;
    line-height: 1;
    /* background-color: yellow; */
}

.desc h4{
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
}

.desc h5{
    font-size: 1.5em;
    color: #b3b3b3;
    text-align: center;
}

.desc p{
    font-size: 1em;
}


