.wrapper {
	margin-top: 50px;
	color: #fff;
}
.wrapper h1 {
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.wrapper table {
	width: 100%;
	border: none;
	table-layout: fixed;
}


/* .wrapper .title{
	text-align: left;
} */
  
.wrapper th, td {
    border-collapse: collapse;
	width: 100px;
	overflow: hidden;
}

/* .cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
} */