.wrapper {
	margin-top: 0;
	color: #fff;
    background-color: rgba(25, 25, 25, 1);
}
.wrapper h1 {
	color: #fff;
	text-align: center;
	font-weight: bold;
}
.songs {
    position: relative;
}

.cards {
	height: 100%;
    display: grid;
    position: relative;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}