<li
  class="list-song"
>
  <div class="song">
    <span>{list-number}</span>
    <img class="song-image" src="{song-image-path}" />
    <div class="song-information1">
      <span class="song-title">{song-title}</span>
    </div>
    <div class="song-information2">
        <audio controls id="playmusic">
            <source src="{audio_path}" type="audio/mp3" />
            <source src="{audio_path}" type="audio/wav" />
            Your browser does not support the audio element.
        </audio>
    </div>
  </div>
</li>
