<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="view/css/components/header.css" />
    <link rel="stylesheet" href="{css2}" />
    <link rel="stylesheet" href="{css3}" />
    <link rel="stylesheet" href="{css4}" />
    <link rel="stylesheet" href="{css5}" />
    <title>{title}</title>
  </head>
  <body></body>
</html>

<header>
  <div class="main-container">
    <div class="logo-container">
      <a href="index.php">
        <img src="../view/assets/img/Icon_white.svg" id="logo"
      /></a>
      <!-- <img src="../../assets/img/Icon_white.svg" id="logo" /> -->
    </div>
    <div class="search-container">
      <form method="get" name="searchProduct" id="searchProduct" action="/search.php">
        <input
          class="search-field"
          type="text"
          placeholder="What are you looking for?"
          name="query"
          id="search-Query"
        />
        <input
          type="button"
          value="Go!"
          name="search-button"
          id="searchButton"
        />
      </form>
    </div>
    <div class="nav-container">
      <a href="daftar_user.php">
        <div class="nav-button">List User</div>
      </a>
      <a href="tambah_lagu.php">
        <div class="nav-button">Add Song</div>
      </a>
      <a href="">
        <div class="nav-button">Add Album</div>
      </a>
      <a href="daftar_album.php">
        <div class="nav-button">List Album</div>
      </a>
      <a href="./logout.php">
        <button class="logout-button">Logout</button>
      </a>
      <div class="profile">{username}</div>
    </div>
  </div>
</header>
